html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  font-size: 1.4rem;
  background-color: #FAFAFA;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: unset;
  vertical-align: baseline;
  outline: none;
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit; }

address, article, aside, button, footer, header, hgroup, main, nav, section {
  display: block; }

ul, li {
  margin: 0;
  list-style: none; }

a, button, i {
  text-decoration: none;
  transition: color 150ms ease-in-out; }

button {
  background-color: unset;
  border: unset; }

.is-text-h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.6; }

.is-text-h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.2; }

.is-text-h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1; }

.is-text-h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2; }

.is-text-menu {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1; }

.is-text-link {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4; }

.is-text-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4; }

.is-text-tag {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 1.52px;
  text-transform: uppercase; }

.header-navigation {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  width: calc(100% - 3rem);
  height: 4.2rem;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(80, 92, 119, 0.2); }
  @media (min-width: 576px) {
    .header-navigation {
      margin-right: 3rem;
      margin-left: 3rem;
      width: calc(100% - 6rem); } }
  @media (min-width: 768px) {
    .header-navigation {
      position: relative;
      margin-right: auto;
      margin-left: auto; } }
  @media (min-width: 1200px) {
    .header-navigation {
      width: 100%;
      max-width: 1200px; } }
  .header-navigation--tab {
    width: 11.6rem;
    height: 2.6rem;
    transition: opacity 150ms ease-in-out; }
    .header-navigation--tab:not(.is-active) {
      cursor: pointer; }
      @media (min-width: 992px) {
        .header-navigation--tab:not(.is-active):hover:not(.is-active) {
          opacity: .5; } }
    .header-navigation--tab .is-text-menu {
      width: 100%;
      text-align: center;
      color: #0C75C5; }
    .header-navigation--tab.is-active {
      border-bottom: 2px solid #003970; }
      .header-navigation--tab.is-active .is-text-menu {
        color: #003970; }
